<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <InstallationFolder>TenantManagement</InstallationFolder>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold Reports Enterprise Reporting </WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>FglO2vlqGd5JuwPiu3mR1Faw5Xsf8KirQdZ73bKMQczvIhrTpMmkUedL8UNQUoK3Eb5Q6xwKVObQg26a/RP+/8OnkOjZ6KeE4pyKzGZSpQF6MVF/mtUN2kwT+fU34i74yLnEkBeZWJswLzpPotD6aQIB48LobnpBedQQJsHpb+SsYBFq219VJGCFueDmv5TXMWx86IgmtlMa9rsyn+w2O3eKI0A8Pf+T9RWtPdb5sW5UDGQBvkWH/RXw514Cf6OauIm5LQsFks3Kc3WOAxqgVkbgHLKUxsV0D2Z5APFxFqCM8ujU6kpw+7Pxm83eS7cNGOcCwwyFVMYvLzICAVX39dpO4vTY0lufgSJmVW3FgjiVfKu73SFMIAzqG95FbfCkPAcOzlGyi7rOqnOonPQCbE2mK/Doij40nYpVFvdWKgWA3gX1qeVxo6dYKI6KXkdWjkw4CV9feLoHZc7YR4jMnk71WMQgDxE8RSQDbNLTjz0ijpjcJGJM8/YcspAdwDReMv5gB4d8LeeVANTYa6/R9M8uLlH8KJrwchiYkUD9hD4q/58EOnKH1TxDdO41dMffT0VccH5HbIdOSR/zi16qu1A5FghZ0DXorIRYWiEWC3HZ1MJGtYrmsGA3b7RGWVj+GlIYXXUoW8iuIv4PtOgtB1rDw3ssClS6hpnYa+HzJyHNxv9E7LPl9zzBucmukGB0If9eKVoKXaFUg4zI7Qd56TN4dWqH8p30jNOQjsPIL3+/zojW+XbWUWSlS528YfkSuu/yHTX3q8lbyOu5UJN22g==</DRM>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>3506f46f-feca-45c9-9c76-ff480338cfac</InternalAppClientId>
  <InternalAppClientSecret>+9DDF5WNIOohQdujXfg3cfxs/rLBYGeSegFK/YU2whx0Rq9l0xzABWztD6KQP0V4qp4e1lu8FjNGi8fWNKJVwQ==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>