<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <InstallationFolder>TenantManagement</InstallationFolder>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold Reports Enterprise Reporting </WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>qu1iPGb0YSwJEtMcxyKc9p9BEe7K8ZncJJm2K63mnS3QOi09D5dYqFcrKE8EwqwjkEe4C4wsWjIA8Wm4nZVWLivTA7q4blLrdEPNrb5hr3X+0/3N3V69kyveqBm4uo9Gl2KD4TXrpLUbPqg4z9WpvhqbfxUUzsqcOvDwTVGWuYSlrRR5uVG5zqonl/HLeN549+x2ANOl8JbkqAOmTvxywJCufSQ3KfGBb/WQfk1P0qNYauU5vCgLfTt7dPd8KGaIqGZpMaA3c6S/FXlTv77Dz4r4YyRu2vHpMs5o1kk5bgYykwdYXd5n+iNA3lQ2hIM2Fm5ds34J5BmH6hWg3ldoB6hduzk6bJgl9PX1N00sLAbSjjJrWs5JBqC3JPNZCXdNmL3Ozmvr1KCShzhLCmMMR3aXQ9X+w0W22nxPcYgURMSIO2bUl35y4WKSFN60jCqBUjR9eTHrexU/ZlpmC7B6dYFL4EN5cPsiEtzM5mykFraEBSxmcMiJjkzbjw6zRVMmewLz5vlZw0HmppcMmOEVW1qZAu1iYi873sahARW2S/wO/savFmYw2TMLXRfVQ7i8T/aKwNmkFgfTDlmCkKbUJ5dZ386jFaXEC6ZCvMsf129bXYd9AmrBJ6leIeW+8UHpja8m+HUfjINdOnTnZg6oNKCbykOeIzuWob6IoOCXr/rSPM952CG4yUI2a1ZSQefZxqASM1xTXjQ/amFNGmTmXuPXYdpOJqxe+fRkiVyfr+JqKKS9H61EagxXjq7jLEPRCh2sVVNIjjCPtIEVOVWZtw==</DRM>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>816a45fc-96d2-4e6a-96f1-b5bcef1ecc81</InternalAppClientId>
  <InternalAppClientSecret>8bIpbLfykdTfMJo05pnMAuv8Op/UG9WLH+L+vE7ljHoQpsKDUisVMDzaeYmx1g2uyD7j3OgzucgdEFsmQ9pCTw==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>