<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <InstallationFolder>IDP</InstallationFolder>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold BI Enterprise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>jIXZ/PczgXqP3YROFVGMVViJLU7DBZgSdxchsOlaz7xT9SUlKc9tpYI/8aVlpt/w4IM+EoFD5oB6tkt8tmxrJ5D1K8oe4jdxYVr8SHRlgZP9ORnBYFpKV8BcZTkqh3hYEdzlTgUmfcMBIwSIx+YI16ywhB6oDcb8zORM+NfzuNCyDclOuRUFrmy4B61niphqmhIDDY+2H0o32woaWTYoPdpqQQrai6XXNCoIQsuFNStF3IGxF/jjSyaq+JDntcRGJcCNSsli+OKz0Q04pjZassN1hKb82yhlQwWtc7puUWRkJjG184vhSODZGebnE7SVmElI/7m00EfFt3dWQi/JlmvZSkgYKBQk2L/J83s+0s7vV3DSXcN75iCGCkr747KDVzgYfnHqssRY/3x41jg2ehF+/HhDBckgJ8QUs3skzbfhk3JiaYmHRSrULpcnVNLaEDR/N77HHLto1fW4e/f5booKb3DdkYvrp6QzTsQLo23yMfTObufqyLDZT9a5HceRS0lm4ApCnYWPXgbWIAyjhguerGPm7qr1mIts6c0DZtn9Ocp+p+SvQ1elq3BCOtE43hj/h8EZG0xGbzhbGqJtl+YtKcUhNllatHiSZJRCuep3zkkrmHsDM2QLBNrNtR88v8GwSeI9vk3Mvh3KAOZqr9dboG3+wBL5OmtimLUa80+Cuf5fCAv+mZxfIbIzkAJXTybtOePyd3fpaieLoCOL4ZawjtmKbVNZ7PE+6ctGlGc7USSLSqgDzXmDgaV1reZs9rbVEDUznKTbbxCOpMKR/Q==</DRM>
  <IsCustomBinding>false</IsCustomBinding>
  <InternalAppBIUrl>http://localhost:5005/bi</InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>5908212b-db57-489d-bb01-f53f155cb184</InternalAppClientId>
  <InternalAppClientSecret>TyEI473Dt/VZ9YdHz1XSRcGJvhQ5oe0tdY9yrZHF8EF/oGR01LnqiLUMwQyeHFVZk91s/T9VFWadZvhaZpAdAg==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>